@model IEnumerable<MVCProject10._5._2019.Models.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 text-center">
            <img src="@Url.Content(product.prod_image)" width="200" height="200" /><br /><br/>
            <p>@Html.ActionLink("Add To Cart", "Login", "UserInterface",null, new { @class = "btn btn-danger" })</p>
        </div>
    }
</div>
